
:root {
  --background: #F0F2F5;
  --gray: #969CB3;
  --gray-dark:  #2F323D;
  --white: #FFF;
  --green: #12A454;
  --green-ligth: #33CC95;
  --green-alpha: #7df68bcc;
  --orange: #FF872C;
  --blue:  #5636D3;
  --blue-ligth:  #6933FF;
  --overlay-color: #0c0c0c33;
  --red-light: #fa748ccc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--blue);
}
body {
  background-color: var(--background);
  color: var(--gray);
  -webkit-font-smoothing: antialiased;
}
body, input, textarea, button {
  font: 400 1rem 'Poppins', sans-serif;
}