.homeBackground {
  width: 100vw;
  height: 100vh;
  background: rgb(86, 54, 211);
  background: linear-gradient(180deg, rgba(86, 54, 211, 1) 50%, rgba(255, 135, 44, 1) 50%);
}

.homeContainer {
  max-width: 1120px;
  width: 100%;

  margin: 0 auto;

}

.logo {
  display: flex;
  align-items: center;
  padding-top: 32px;
}

.logo span {
  color: var(--white);
  margin-left: 8px;
}

.homeContent {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.homeContent h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: var(--white);
}

.loginContainer {
  margin-top: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loginContainer span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--white);
}

.loginContainer span {
  margin-bottom: 40px;
}

.buttonLoginSocial {
  max-width: 311px;
  height: 56px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  color: var(--gray-dark);

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 16px 18px;
}