.header {
  width: 100vw;
  background-color: var(--blue);
  height: 13.25rem;
  flex-shrink: 0;
}

.headerContent {
  max-width: 70rem;
  width: 100%;
  height: 3rem;
  flex-shrink: 0;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 32px;
}

.buttonPrimary {
  width: 12.1875rem;
  height: 3rem;
  flex-shrink: 0;

  border-radius: 0.3125rem;
  background: var(--blue-ligth);

  border: none;

  color: var(--white);
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttonAction {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;

  cursor: pointer;
}

.headerProfile {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
}

.headerProfile span {
  color: var(--white)
}
